{% extends 'main.html' %}

{% block content %}
<div>Home Template</div>

<div>
<a href="{% url 'create-room' %}">Create Room</a>
   <hr> <div>
        {% for room in rooms %}

        <div>
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Remove</a>
            <span>@{{room.host.username}}</span>
           <h3>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h3>
           <small>{{room.topic.name}}</small>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>



{% endblock %}